.layout {
  height: 100vh;
  border: 1px solid var(--semi-color-border);

  .sider {
    background-color: var(--semi-color-bg-1);

    .nav {
      height: 100%;
      max-width: 180px;

      .text {
        font-size: $font-size-header-1;
        writing-mode: vertical-lr;
        margin-left: 15px;
      }
    }
  }

  .layout-content {
    .header {
      background-color: var(--semi-color-bg-1);

      .header-footer {
        display: flex;

        .item {
          margin-right: 20px;
        }
      }
    }

    .content {
      padding: 24px;
      background-color: var(--semi-color-bg-0);

      .breadcrumb {
        margin-bottom: 24px;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    color: var(--semi-color-text-2);
    background-color: rgb(var(--semi-grey-0), 1);

    .beian {
      width: 15px;
    }

    .a {
      all: unset;
      cursor: pointer;
    }
  }
}
