// 字号
$font-size-samll: 12px;        // 小文本字号
$font-size-regular: 14px;      // 正常文本字号
$font-size-header-6: 16px;     // 六级标题字号
$font-size-header-5: 18px;     // 五级标题字号
$font-size-header-4: 20px;     // 四级标题字号
$font-size-header-3: 24px;     // 三级标题字号
$font-size-header-2: 28px;     // 二级标题字号
$font-size-header-1: 32px;     // 一级标题字号

// 字重
$font-weigth-light: 200;        // 轻字重
$font-weigth-regular: 400;      // 正常字重
$font-weigth-bold: 600;         // 粗字重


// 图标尺寸
$width-icon-extra-small: 8px;    // 超小图标尺寸
$width-icon-small: 12px;         // 小图标尺寸
$width-icon-medium: 16px;        // 中等图标尺寸
$width-icon-large: 20px;         // 大图标尺寸
$width-icon-extra-large: 24px;   // 超大图标尺寸

// 间距
$spacing-none: 0;                   // 无间距
$spacing-super-tiny: 2px;           // 极微间距
$spacing-extra-tiny: 4px;           // 超微间距
$spacing-tight: 8px;                // 紧凑间距
$spacing-base-tight: 12px;          // 基础紧凑间距
$spacing-base: 16px;               // 基础间距
$spacing-base-loose: 20px;          // 基础宽松间距
$spacing-loose: 24px;               // 宽松间距
$spacing-extra-loose: 32px;         // 超宽松间距
$spacing-super-loose: 40px;         // 极宽松间距